#form-container {
  margin-left: 20px;
  padding: 5px;
}
h1,
p,
input,
label,
button {
  font-family: "EB Garamond", serif;
}
.new-recipe {
  display: inline-flex;
  flex-direction: column;
}
h1 {
  font-weight: 300;
  margin-top: 0;
}
#radio-choices {
  display: inline-flex;
  flex-direction: column;
}

.error-url {
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
}
#radio-choices label :checked {
  background-color: rgb(226, 177, 177);
}
