nav {
  background-color: #e26161;
  height: 8vh;
  margin: 15px;
}
#header-title {
  font-family: "EB Garamond", serif;
  color: #e26161;
  font-weight: lighter;
  font-size: xx-large;
  text-align: left;
  margin-left: 15px;
}
#header-title::before {
  content: "🍜";
  padding-right: 50px;
}
.nav-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 100%;
  height: 100%;
  /* justify-content: space-around; */
  /* align-items: center; */
}

.nav-links li {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.nav-links li a {
  color: ivory;
  text-decoration: none;
  font-size: 22px;
  font-family: "EB Garamond", serif;
  font-weight: lighter;
}
