@import "Variables";
@import "RecipeRouter";
@import "RecipeList";
@import "RecipeItem";
@import "FormRecipe";
@import "GridImages";
@import "EditRecipe";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Roboto+Mono&display=swap");

#header-container {
  display: grid;
  grid-template-columns: auto 25px;
  margin: 0 $margin-to-body 0 $margin-to-body;
  #header-title {
    font-family: $main-font;
    color: $main-color;
    font-weight: lighter;
    font-size: xx-large;
    text-align: left;
    &:before {
      content: "🍜";
      padding-right: 50px;
    }
  }
  #icon-container {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
  }
}
#main-nav {
  background-color: $main-color;
  height: 60px;
  margin: $margin-to-body;
  margin-bottom: 0;
  ul {
    display: flex;
    @include full();
    list-style: none;
    li {
      @include full();
      a {
        @include flex-center-full();
        color: white;
        text-decoration: none;
        font-size: 22px;
        font-family: $main-font;
        font-weight: 500;
      }

      &:hover {
        background-color: #ce5a5a;
      }
    }
  }
}

#content {
  margin: $margin-to-body;
  margin-top: 0;
}

#title-link {
  text-decoration: none;
}
