#recipe-list-container {
  margin: 15px;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  /* background-color: sandybrown; */
}

#recipe-list-header {
  margin-top: 5px;
  margin-bottom: 10px;
  grid-column: 1 / -1;
  background-color: #ffe4d9;
  padding: 15px;
  color: #e26260;
  font-weight: 500;
  box-shadow: 4px 4px rgb(236, 180, 188);
}
