.recipe-flex {
  grid-area: inherit;
  background-color: #ffe5d9;
  display: flex;
  align-items: flex-start;
  height: 150px;
  box-shadow: 4px 4px rgb(236, 180, 188);
}
.recipe-picture {
  object-fit: cover;
  height: 100%;
  width: 150px;
}

.no-overflow {
  overflow: hidden;
  height: inherit;
}
.recipe-title {
  margin: 10px;
  overflow: hidden;
  font-family: "EB Garamond", serif;
  font-weight: 500;
  font-size: 25px;
  color: #e26260;
  text-overflow: ellipsis;
}
